.container {
  display: flex;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    #0a1a35 0%,
    #0d274a 15.9%,
    #103359 15.9%,
    #184270 24.4%,
    #09203f 24.5%,
    #010a18 66%
  );

  height: 100vh;
  z-index: 1;
  justify-content: center;
  align-content: center;
  color: #fff;
}

.about {
  font-size: 1.5rem;
}

.textContainer {
  text-align: left;
  align-self: center;
}
.name {
  font-size: 3rem;
}
button {
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 12px;
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  color: #010a18;
}

@media screen and (max-width: 1400px) {
  .about {
    font-size: 1.1rem;
  }
  .name {
    font-size: 2rem;
  }
  .container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 950px) {
  .about {
    font-size: 1rem;
  }
  .name {
    font-size: 1.8rem;
  }

  button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .about {
    font-size: 1rem;
    margin-left: 8rem;
  }
  .name {
    font-size: 1.5rem;
    margin-left: 8rem;
  }

  button {
    font-size: 0.8rem;
    margin-left: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .about {
    font-size: 0.8rem;
    margin-left: 9rem;
  }
  .name {
    font-size: 1.2rem;
    margin-left: 9rem;
  }

  button {
    font-size: 0.8rem;
    padding: 0.8rem;
    margin-left: 9rem;
  }
}
@media screen and (max-width: 400px) {
  .about {
    font-size: 0.8rem;
    margin-left: 8rem;
  }
  .name {
    font-size: 1.1rem;
    margin-left: 8rem;
  }

  button {
    font-size: 0.8rem;
    padding: 0.8rem;
    margin-left: 8rem;
  }
}
